fastapi
uvicorn[standard]

sqlmodel
psycopg[binary]

python-dotenv
python-multipart

PyJWT

pwdlib[argon2]
pwdlib[bcrypt]

langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-pinecone

pinecone

pypdf

sentence-transformers